/*!

 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)

 * Copyright 2013-2019 Start Bootstrap

 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)

 */
body{
  margin-top: 0;
}

.bottom-border {

  height: 5px;

  width: 100%;

}



.gradient {

  background: rgb(133,92,254);

  background: linear-gradient(145deg, rgba(133,92,254,1) 0%, rgba(64,174,253,1) 100%);

  color: white;

}



.gradient-bottom {

  height: 30px;

}

